<h1>Show users </h1>

<div>
 <span><%= @user.photo %></span>
 <span>
  <h3><%= @user.name %></h3>
  <span>Number of post: <%= @user.postsCounter %></span>
  <p><%= @user.bio %></p>
 </span>
 <% @posts.each do |item|%>
    <p><%= item.title %></p>
 <%end%>
</div> 