<h1>Show users </h1>

<div>
 <div><%= @user.photo %></div>
 <div>
  <h3><%= @user.name %></h3>
  <div>Number of post: <%= @user.postsCounter %></div>
  <p><%= @user.bio %></p>
 </div>
 <% @posts.each do |item|%>
    <p><%= item.title %></p>
 <%end%>
</div> 
