<div class="container">
  <h1>Show users </h1>
  <div class="row">
      <div class="col-sm-1"><%= image_tag(@user.avatar_update) if @user.avatar.attached? %></div>
      <div class="col-sm-5">
         <h3><%= @user.name %></h3>
         <blockquote class="text-end">Number of post: <%= @user.postsCounter %></blockquote>
      </div>
   </div>
   <div class="row mb-5">
      <p><%= @user.bio %></p>
   </div>
   <% counter = 0%>
   <% @posts.each do |item|%>
      <div class="row mb-2 w-50 border" width="400px">
         <blockquote class="text-start">Post #<%= counter += 1 %></blockquote>
         <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. <%= item.text %></p>
         <blockquote class="text-end">Comments: <%= item.commentsCounter%> Likes: <%= item.likesCounter %></blockquote>
      </div>
   <%end%>
 <%= link_to 'See all posts', user_posts_path(@user), class: "btn btn-dark"  unless can_be_show?(@posts) %>
</div> 
