<% render partial: "message" %>
<div class="container">
   <h1>Show posts</h1>
   <div class="row">
      <div class="col-sm-2">
         <img src=<%= @user.photo %>>
      </div>
      <div class="col-sm-5">
         <h3><%= @user.name %></h3>
         <blockquote class="text-end">Number of post: <%= @user.postsCounter %></blockquote>
      </div>
      <div class="row my-3">
         <p><%= @user.bio %></p>
         <%= link_to "Add a post", new_user_post_path(@user), class: "btn btn-dark w-50 m-auto" %>
      </div>
   </div>
      <span>
      <% counter = 0%>
      <% @posts.each do |item| %>
         <%= link_to user_post_path(@user, item) do %>
         <div class="w-50 row text-body border">
            <blockquote>Post #<%= counter += 1 %></blockquote>
            <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. <%= item.text %></p>
            <blockquote class="text-end">Comments: <%= item.commentsCounter%> Likes: <%= item.likesCounter %></blockquote>
         </div>
         <% end %>
         <div class="row ms-4 border w-25">
            <% item.most_recent_comments.each do |comment| %>
               <p><mark><%= comment.user.name %></mark>: <%= comment.text %></p>
            <% end %>
         </div>
      <%end%>
   </span>
   <button>Pagination</button>
</div>
